{% extends "layout.html" %}

{% block layout_content %}
<h1 class="ui top attached header">
  Database
</h1>

<div class="ui segment" style="height: 88%">

  {% if not database %}
  <div class="ui container">
    <h3 class="ui header center aligned" style="height: 7%;">
      Configuration
    </h3>
    <form id="database_form" class="ui form">
      <div id="database-platform-options" class="ui fluid selection dropdown">
        <input type="hidden" name="database-platform-options">
        <i class="dropdown icon"></i>
        <div class="default text">Platform</div>
        <div id="interval" class="menu">
          <div class="item" data-value="breeze">
            Breeze
          </div>
        </div>
      </div>

      <div id="breeze-domain" class="field" style="padding-top: 2em;">
        <label class="ui left aligned">Breeze subdomain</label>
        <input type="text" value="{{ subdomain }}" name="breeze-subdomain" placeholder="Your subdomain" required>
      </div>
      <div id="breeze-api-key" class="field">
        <label class="ui left aligned">API Key</label>
        <input type="text" value="{{ api_key }}" name="api-key" placeholder="API key" required>
      </div>

      <div class="ui container" style="padding-top: 2em;">
        <div class="ui grid">
          <div class="four column row">
            <div class="left floated column">
              <button onclick="testConnection()" class="ui basic primary button" type="button">Test connection</button>
            </div>
            <div class="right floated column right aligned">
              <button id="save_database_button" class="ui primary button" type="submit">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  {% else %}
  <div class="ui container">
    <div style="padding-top: 1em; padding-bottom: 2em;">
      <button onclick="editDatabase()" class="fluid ui basic primary button">
        <i class="icon edit"></i>
        Edit database connection
      </button>
    </div>
    <div id="database-entities-content">
      <div class="ui secondary menu">
        <button class="ui basic button" data-tooltip="Reloads the data from the remote database. This operation could take a while." data-position="top left" data-inverted="">Refresh</button>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div id="loader" class="ui active inverted dimmer">
        <div class="ui small text loader">Fetching remote data...</div>
      </div>
      <div id="database-entities-list" style="overflow: auto; max-height: 80%;">
      </div>
    </div>
  </div>
  {% endif %}

  <meta id="database-data" data-database="{{ database }}">

{% block javascript %}
    <script src="{{ url_for('static', path='js/layout_content/database/database.js') }}"></script>
{% endblock %}
</div>
{% endblock %}
