{% extends "base.html" %}

{% block layout %}
  <script src="{{ url_for('static', path='js/layout.js') }}"></script>

  <div class="ui secondary pointing menu" style="height: 10%;">
    <div style="height: 5%; padding-bottom: 1em; padding-left: 1em;">
      <img class="ui middle aligned tiny circular image" src="/static/tgk_logo.png">
      <span style="display: inline-block; padding: 1em; padding-top: 1.5em">
        <h1> {{ organisation.name }} </h1>
      </span>
    </div>
  </div>

  <div class="ui grid" style="height: 90%;">

    <div class="two wide column" style="padding-left: 1.5em;">
      <div class="ui secondary vertical menu">
        <a class="item">
        <div class="ui header">
          Dashboard
        </div>
        </a>
        <a class="item">
          <div id="eventsItemId" class="ui" onclick="eventsPage()">
            <i class="calendar alternate outline icon"></i>
            Events
          </div>
        </a>
        <a class="item">
          <div id="trackingItemId" class="ui" onclick="notificationsPage()">
            <i class="bell icon"></i>
            Notifications
          </div>
        </a>
        <div class="ui divider"></div>
        <a class="item">
          <div class="ui header">
            Organisation
          </div>
        </a>
        <a class="item">
          <div id="settingsItemId" class="ui" onclick="settingsPage()">
            <i class="setting icon"></i>
            Settings
          </div>
        </a>
        <a class="item">
          <div id="usersItemId" class="ui" onclick="usersPage()">
            <i class="users icon"></i>
            Users
          </div>
        </a>
        <a class="item">
          <div id="databaseItemId" class="ui" onclick="databasePage()">
            <i class="database icon"></i>
            Database
          </div>
        </a>
        <a class="item">
          <div id="messagingItemId" class="ui" onclick="messagingPage()">
            <i class="comments icon"></i>
            Messaging
          </div>
        </a>
        <div class="ui divider"></div>
        <div style="position: absolute; bottom: 2em; left: 0.7em;">
          <a class="item disabled">
          <div  class="ui" onclick="profilePage()">
            <i class="user circle icon"></i>
            Your Profile
          </div>
        </a>
        <a class="ui item">
          <div class="ui" onclick="logOut()">
            <i class="logout icon"></i>
            Logout
          </div>
        </a>
        </div>
      </div>
    </div>
    <div class="thirteen wide column">
      {% block layout_content %}
      {% endblock %}
    </div>
  </div>

{% endblock %}
