{% extends "base.html" %}

{% block layout %}

  <div class="ui secondary pointing menu">
    <div style="height: 5%; padding-bottom: 1em; padding-left: 1em;">
      <img class="ui middle aligned tiny circular image" src="/static/churchlife.png">
      <span style="display: inline-block; padding: 1em; padding-top: 1.5em">
        <h1> {{ organisation }} </h1>
      </span>
    </div>
    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>

  <div class="ui secondary vertical menu">
    <a class="active item">
      Dashboard
    </a>
    <div class="ui divider"></div>
    <a class="item">
      Account
    </a>
    <a class="item disabled">
      Facial Recognition
    </a>
    <a class="item">
      Integrations
    </a>
  </div>

  {% block content %}
  {% endblock %}

{% endblock %}
