{% extends "base.html" %}

{% block layout %}
    <div style="padding: 50px">
        <div class="ui container center aligned">
            <h2 style="padding: 1em; font-size: 4em">Sign in</h2>
            <div>
                <form id="signin_form" class="ui form">
                  <div class="ui container center aligned" style="width: 30%; padding-bottom: 2em">
                    <div class="field">
                          <label class="ui container left aligned">Email</label>
                          <input type="email" name="email" placeholder="Email Address">
                    </div>
                  </div>
                  <div class="ui container center aligned" style="width: 30%; padding-bottom: 2em">
                    <div class="field">
                          <label class="ui container left aligned">Password</label>
                          <input type="password" name="password" placeholder="Password">
                    </div>
                  </div>
                  <div class="field">
                  </div>
                    <div class="ui container center aligned" style="width: 13%"><button class="ui button blue fluid" type="submit">Sign in</button></div>
                </form>
                <div class="ui container center aligned" style="width: 13%"><button id="sign_up_button" class="ui basic button fluid">Create Account</button></div>
            </div>
        </div>
    </div>

    {% block javascript %}
        <script src="{{ url_for('static', path='js/sign_in.js') }}"></script>
    {% endblock %}
{% endblock %}
