{% extends "layout_content/events.html" %}

{% block event_content %}
  <div style="padding-bottom: 2em;">
    <div>
      <div style="padding-left: 1em; padding-bottom: 1em; display: inline-block;">
        <button class="ui basic button" onclick="goToToday()" style="display: inline-block; padding-left: 1em;">
          Today
        </button>
        <button class="ui left attached icon basic button" onclick="calendarPrev()" style="display: inline-block; vertical-align: top;;">
          <i class="icon left arrow"></i>
        </button>
        <button class="ui right attached icon basic button" onclick="calendarNext()" style="display: inline-block; vertical-align: top;">
          <i class="icon right arrow"></i>
        </button>
      </div>
      <h2 id="calendar-heading" style="display: inline-block; margin: auto; text-align: center; width: 63%;">
      </h2>
      <div style="display: inline-block; vertical-align: top; float: right;">
        <form id="custom_date_form" class="ui form">
          <div style="display: inline-block; vertical-align: top;">
            <div id="calendar-view" class="ui fluid selection dropdown">
              <input type="hidden" name="calendar-view">
              <i class="dropdown icon"></i>
              <div class="default text" style="display: inline-block;">Month</div>
              <div id="interval" class="menu">
                <div class="item" data-value="day">
                  Day
                </div>
                <div class="item" data-value="week">
                  Week
                </div>
                <div class="item" data-value="month">
                  Month
                </div>
              </div>
            </div>
          </div>
          <div id="to-date-picker" class="field" style="display: inline-block; padding-right: 1em; vertical-align: top;">
            <input id="custom-date-picker-input" type="date" name="custom_date" placeholder="Select date">
          </div>
        </form>
      </div>
    </div>
    <div id="calendar" style="height: 80%;"></div>
  </div>
{% endblock %}