{% extends "layout_content/events.html" %}

{% block event_content %}

<div>
  <h3 class="ui header center aligned" style="height: 7%;">
    Create new event
  </h3>

  <div class="ui container" style="height: 90%;">
    <div class="scrolling content">
    <div class="ui four steps">
      <div id="step-1" class="active step">
        <div class="content">
          <div class="title">Details</div>
        </div>
      </div>
      <div id="step-2" class="disabled step">
        <div class="content">
          <div class="title">Custom Data</div>
        </div>
      </div>
      <div id="step-3" class="disabled step">
        <div class="content">
          <div class="title">Attendance</div>
        </div>
      </div>
      <div id="step-4" class="disabled step">
        <div class="content">
          <div class="title">Notifications</div>
        </div>
      </div>
    </div>
      <form id="new_event_form" class="ui form">
        <div id="event-details">
          <div class="field">
            <label class="ui left aligned">Event name</label>
            <input type="text" name="event-name" value="{{name}}" placeholder="Event name" required>
          </div>

          <div id="event_type_form" class="ui form">
            <div class="grouped fields">
              <label data-tooltip="Indicate whether this event should happen on a recurring basis or once off" data-position="top left" data-inverted="">Type of event</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="event-type" checked="checked">
                  <label>One time event</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input id="series_checkbox" type="radio" name="event-type">
                  <label>Recurring event</label>
                </div>
              </div>
            </div>
          </div>

          <div id="event-interval" class="ui fluid selection dropdown">
            <input type="hidden" name="series-interval">
            <i class="dropdown icon"></i>
            <div class="default text">Event occurrence</div>
            <div id="interval" class="menu">
              <div class="item" data-value="daily">
                Daily
              </div>
              <div class="item" data-value="weekly">
                Weekly
              </div>
              <div class="item" data-value="monthly">
                Monthly
              </div>
            </div>
          </div>

          <div style="padding-top: 1em;">
            <div class="field" style="display: inline-block; padding-right: 1em;">
              <label id="event-start-date-label" class="ui left aligned" data-tooltip="Date of first event" data-position="top left" data-inverted="">First event</label>
              <input id="from-date-picker-input" type="date" name="event-from-date" placeholder="From date" required>
            </div>
            <div id="to-date-picker" class="field" style="display: inline-block; padding-right: 1em;">
              <label id="event-end-date-label" class="ui left aligned" data-tooltip="Date of last event" data-position="top left" data-inverted="">Last event</label>
              <input id="to-date-picker-input" type="date" name="event-to-date" placeholder="To date">
            </div>
            <div id="continuous-event-checkbox" class="ui checkbox" style="display: inline-block; padding-left: 2em;">
              <input type="checkbox" id="unspecified-end-date-checkbox">
              <label for="unspecified-end-date-checkbox">No specified end date</label>
            </div>
          </div>
          <div>
            <div class="field" style="display: inline-block; padding-right: 1em;">
              <label class="ui left aligned">Starts at</label>
              <input id="event-start-time" type="time" value="08:00:00" name="event-start-time" placeholder="Start at" required>
            </div>
            <div class="field" style="display: inline-block; padding-right: 1em;">
              <label class="ui left aligned">Ends at</label>
              <input id="event-end-time" type="time" value="09:00:00" name="event-end-time" placeholder="End at" required>
            </div>
          </div>
        </div>

        <div id="event-data" hidden>
          <script type="text/template" data-template="add-datum" id="add-datum">
            <div style="padding-top: 0.5em;">
              <div style="display: inline-block; width: 30%; vertical-align: top;">
                <input type="text" placeholder="Key" required>
              </div>
              <div style="display: inline-block; width: 30%; vertical-align: top;">
                <div class="ui checkbox" style="display: inline-block; padding-left: 2em;">
                  <input type="checkbox" id="bool2-field">
                  <label for="bool2-field">Is boolean field</label>
                </div>
              </div>
              <div style="display: inline-block; padding-left: 2em; vertical-align: center;">
                <div class="ui icon basic button red" onclick="removeDatum(this.parentElement.parentElement.id)">
                  <i class="x icon"></i>
                </div>
              </div>
            </div>
          </script>

          <div class="ui info message" >
            Define custom data that might be of interest on each event.
          </div>

          <div class="field">
            <div id="data-members">
              <div style="padding-top: 1em;">
                <div style="display: inline-block; width: 30%; vertical-align: top;">
                  <input type="text" placeholder="Key" required>
                </div>
                <div style="display: inline-block; width: 30%; vertical-align: top;">
                  <div class="ui checkbox" style="display: inline-block; padding-left: 2em;">
                    <input type="checkbox" id="bool-field">
                    <label for="bool-field">Is boolean field</label>
                  </div>
                </div>
              </div>
            </div>
            <div style="padding-top: 1em;">
              <button onclick="addDatumElement()" class="ui basic primary button" type="button">
                <i class="icon plus"></i>
                Add
              </button>
            </div>
          </div>
        </div>

        <div id="tracker-info" style="padding-top: 1em;" hidden>
          <div class="field" style="display: inline-block; padding-right: 1em;">
            <label class="ui left aligned">Start recording before event begins (minutes)</label>
            <input type="number" name="start-tracking-before" value="20" required>
          </div>
          <div class="field" style="display: inline-block; padding-right: 1em;">
            <label class="ui left aligned">Stop recording after event begins (minutes)</label>
            <input type="number" name="stop-tracking-after" value="20" required>
          </div>

          {% if notifications %}
          <div style="padding-top: 1em;">
            <div style="display: inline-block;"><b>Notify </b></div>
            <div style="display: inline-block; width: 30%; padding-left: 1em;">
              <div id="event-notifications" class="ui fluid selection dropdown">
                <input type="hidden" name="notification-groups">
                <i class="dropdown icon"></i>
                <div class="default text">notification group</div>
                <div id="notifications-dropdown" class="menu">
                  {% for notification in notifications %}
                    <div class="item" data-value="notification-{{ notification.id }}">
                      {{ notification.name }}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div style="display: inline-block; padding-left: 1em;"><b> on </b></div>
            <div style="display: inline-block; width: 30%; padding-left: 1em;">
              <div id="notification-trigger" class="ui fluid selection dropdown">
                <input type="hidden" name="series-interval">
                <i class="dropdown icon"></i>
                <div class="default text">trigger</div>
                <div id="notification-trigger-dropdown" class="menu">
                  {% for trigger_type in trigger_types %}
                    <div class="item" data-value="{{ trigger_type.type }}">
                      {{ trigger_type.display_item_text }}
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="ui warn message" >
            <div class="ui left aligned">
              You currently have no notifications set up. Click the "Add notifications" button
              to add notifications.
            </div>
            <div class="ui right aligned">
              <div class="ui basic primary icon button" onclick="addNotification()">
                <i class="plus icon"></i>
                Add notifications
              </div>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="ui container" style="padding-top: 2em;">
          <div class="ui grid">
            <div class="four column row">
              <div class="left floated column">
                <button onclick="cancel()" class="ui basic red button">Cancel</button>
                <button id="previous-button" onclick="previous()" class="ui basic red button disabled">Previous</button>
              </div>
              <div class="right floated column right aligned">
                <button id="next_button" class="ui primary button" type="button">Next</button>
                <button id="create_event_button" class="ui primary button disabled" type="submit">Create</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', path='js/layout_content/events/new.js') }}"></script>
{% endblock %}
