{% extends "layout_content/events.html" %}

{% block event_content %}

<div>
  <h3 class="ui header center aligned" style="height: 7%;">
    New Event
  </h3>

  <div class="ui container" style="height: 90%;">
    <form id="new_event_form" class="ui form">
      <div class="field">
        <label class="ui left aligned">Event name</label>
        <input type="text" name="event-name" placeholder="Event name" required>
      </div>

      <div id="event_type_form" class="ui form">
        <div class="grouped fields">
          <label data-tooltip="Indicate whether this event should happen on a recurring basis or once off" data-position="top left" data-inverted="">Type of event</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="series_checkbox" type="radio" name="event-type" checked="checked">
              <label>Recurring event</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="event-type">
              <label>One time event</label>
            </div>
          </div>
        </div>
      </div>

      <div id="event-interval" class="ui fluid selection dropdown">
        <input type="hidden" name="series-interval">
        <i class="dropdown icon"></i>
        <div class="default text">Event occurrence</div>
        <div id="interval" class="menu">
          <div class="item" data-value="daily">
            Daily
          </div>
          <div class="item" data-value="weekly">
            Weekly
          </div>
          <div class="item" data-value="monthly">
            Monthly
          </div>
        </div>
      </div>

      <div style="padding-top: 1em;">
        <div class="field" style="display: inline-block; padding-right: 1em;">
          <label class="ui left aligned" data-tooltip="Date of first event" data-position="top left" data-inverted="">From date</label>
          <input type="date" name="event-from-date" placeholder="From date" required>
        </div>
        <div id="to-date-picker" class="field" style="display: inline-block; padding-right: 1em;">
          <label class="ui left aligned" data-tooltip="Date of last event" data-position="top left" data-inverted="">To date</label>
          <input id="to-date-picker-input" type="date" name="event-to-date" placeholder="To date">
        </div>
        <div id="continuous-event-checkbox" class="ui checkbox" style="display: inline-block; padding-left: 2em;">
          <input type="checkbox" id="unspecified-end-date-checkbox">
          <label for="unspecified-end-date-checkbox">No specified end date</label>
        </div>
      </div>
      <div>
        <div class="field" style="display: inline-block; padding-right: 1em;">
          <label class="ui left aligned">Starts at</label>
          <input type="time" value="08:00:00" name="event-start-time" placeholder="Start at" required>
        </div>
        <div class="field" style="display: inline-block; padding-right: 1em;">
          <label class="ui left aligned">Ends at</label>
          <input type="time" value="09:00:00" name="event-end-time" placeholder="End at" required>
        </div>
      </div>
      <div class="ui toggle checkbox">
        <input id="tracker_checkbox" type="checkbox" name="public">
        <label>Capture attendance</label>
      </div>
      <div id="tracker-info" style="display: none; padding-top: 1em;">
        <div style="padding-top: 1em;">
          <div class="field" style="display: inline-block; padding-right: 1em;">
            <label class="ui left aligned">Start before event begins (minutes)</label>
            <input type="number" name="start-tracking-before" value="20" required>
          </div>
          <div class="field" style="display: inline-block; padding-right: 1em;">
            <label class="ui left aligned">Stop after event begins (minutes)</label>
            <input type="number" name="stop-tracking-after" value="20" required>
          </div>
        </div>

<!--        <div style="padding-top: 1em;">-->
<!--          <div class="field" style="display: inline-block; padding-right: 1em;">-->
<!--            <label class="ui left aligned">Notify</label>-->
<!--          </div>-->
<!--          <div class="field" style="display: inline-block; padding-right: 1em; width: 20%;">-->
<!--            <div id="notification-groups" class="ui fluid selection dropdown">-->
<!--              <input type="hidden">-->
<!--              <i class="dropdown icon"></i>-->
<!--              <div class="default text">group</div>-->
<!--              <div class="menu">-->
<!--                <div class="item" data-value="1">-->
<!--                  Groetspan-->
<!--                </div>-->
<!--                <div class="item" data-value="2">-->
<!--                  Staff-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="field" style="display: inline-block; padding-right: 1em;">-->
<!--            <label class="ui left aligned">when</label>-->
<!--          </div>-->
<!--          <div class="field" style="display: inline-block; padding-right: 1em; width: 20%;">-->
<!--              <div id="notification-triggers" class="ui fluid selection dropdown">-->
<!--                <input type="hidden">-->
<!--                <i class="dropdown icon"></i>-->
<!--                <div class="default text">event</div>-->
<!--                <div class="menu">-->
<!--                  <div class="item" data-value="1">-->
<!--                    new face-->
<!--                  </div>-->
<!--                  <div class="item" data-value="2">-->
<!--                    familiar face-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="field" style="display: inline-block; padding-right: 1em;">-->
<!--              <label class="ui left aligned">is detected</label>-->
<!--            </div>-->
<!--            <div class="field" style="display: inline-block; padding-right: 1em; width: 20%;">-->
<!--              <div id="notification-trigger-windows" class="ui fluid selection dropdown">-->
<!--                <input type="hidden">-->
<!--                <i class="dropdown icon"></i>-->
<!--                <div class="default text">during window</div>-->
<!--                <div class="menu">-->
<!--                  <div class="item" data-value="1">-->
<!--                    before event starts-->
<!--                  </div>-->
<!--                  <div class="item" data-value="2">-->
<!--                    after event starts-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--        </div>-->
      </div>

      <div class="ui container" style="padding-top: 2em;">
        <div class="ui grid">
          <div class="four column row">
            <div class="left floated column">
              <button id="cancel-button" class="ui basic red button">Cancel</button>
            </div>
            <div class="right floated column right aligned">
              <button id="create_event_button" class="ui primary button" type="submit">Create</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', path='js/layout_content/events/new_event.js') }}"></script>
{% endblock %}
